<!DOCTYPE HTML>
<html>

<head>
	<title>ACT JOURNAL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link href="/lan/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
	<link href="/slick/slick.css" rel="stylesheet" /> <!-- https://kenwheeler.github.io/slick/ -->
	<link href="/slick/slick-theme.css" rel="stylesheet" />
	<link href="/lan/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com -->
	<link href="/lan/css/templatemo-new-vision.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/templatemo-style.css">

</head>
<style>
	a {
		color: black;
	}
</style>

<body>
	<!-- Nav -->
	<nav id="nav">
		<ul><a href="/" id="logo">ACT JOURNAL</a>
			<li><a href="/">首頁</a></li>
			<li>
				<a href="following">追蹤名單</a>
				<ul>
					<li><a href="following">追蹤中</a></li>
					<li><a href="follower">粉絲</a></li>
				</ul>
			</li>
			<li>
				<a href="/profile"><%= username %>您好</a>
				<ul>
					<li>
						<a href="profile">查看個人檔案</a>
						<ul>
							<li><a href="profileEdit">編輯簡介</a></li>
							<!--<li><a href="privateSet">隱私設定</a>-->
						</ul>
					</li>
					<li><a href="/user/logout">登出</a></li>
				</ul>
			</li>
			<li class="current">
				<a>書櫃</a>
                    <ul>
                        <li><a href="/bookcase">個人書櫃</a></li>
                        <li><a href="/bookshelf/add/form">新增書櫃</a></li>
                        <li><a href="/bookshelf/remo/form">刪除書櫃</a></li>
                        <li><a href="/bookshelf/update/name">更新書櫃</a></li>
                        <li><a href="/journal/add/form">新增手帳</a></li>
                    </ul>
			</li>
			<li><a href="/member/add/form" class="button">註冊</a></li>
		</ul>
	</nav>

	
	<div class="container">
		<br>
		<% for(var i=0; i<bsfnames.length; i++) {%>
			<div class="bookcase-lable">
				<h2>
					<%= bsfnames[i] %>
				</h2>
			</div>

			<div class="grid tm-carousel">
				<% for(var j=0; j<items.length; j++) {%>
					<% if (items[j].bsfname==bsfnames[i]) {%>
						<a href="/myJournals/<%= items[j].jouno %>">
							<figure class="effect-honey">
								<img src='<%= items[j].photo %>'>
								<figcaption><h4><i><%= items[j].jouname %></i></h4></figcaption>
							</figure>
						</a>
						<% } %>
				<% } %>
			</div>

			<a href="/journal/add/form">
				<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 1.5em;">
						<i class="fas fa-plus-circle">
							<h4>新增手帳</h4>
						</i></button></div>
			</a>
			<% } %>

	</div>

	<br>
	<h2 class="major"></h2>
	<a href="/bookshelf/add/form">
		<div align="center"><button onClick="add-book-button" style="width:60%;height:4em;font-size: 2em;">
				<i class="fas fa-plus-circle">
					<h4>新增書櫃</h4>
				</i></button></div>
	</a>
	<br>
	<!-- Copyright -->
	<div id="copyright">
		<ul class="menu">
			<li>Design</li>
			<li>&copy;
				NTUB110508
			</li>
		</ul>
	</div>
	</div>

	<script src="/lan/js/jquery-3.4.1.min.js"></script>
	<script src="/slick/slick.min.js"></script>
	<script src="/lan/js/templatemo-script.js"></script>

	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>